<!DOCTYPE html>
<html lang="en">
   
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<head>
    <%- include('../partials/head'); %>
</head>
<%- include('../partials/Modal'); %>
<body class="container">
    
<header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
          <h2>Supply Information</h2>
                  
                        <div>
                          <button class="btn btn-link" id="myBtn4">Add New Supplier</button>           
                          <div id="myModal4" class="modal">
                              <!-- Modal content -->
                              <div class="modal-content">
                                <span class="close4">&times;</span>
                                <div class="col-xs-3">
                                <h2>Add New Supplier</h2>
                                <form action="/supply/add" method="post">
                                <!--Content goes here-->
                                <label for="ex1">Supplier Name</label>
                                <input class="form-control" name="suppliername" id="ex1" type="text"><BR>
                                <label for="ex1">Phone</label>
                                <input class="form-control" name="phone" id="ex1" type="text"><BR>
                                <label for="ex1">Email</label>
                                <input class="form-control" name="email" id="ex1" type="text"><BR>
                                <label for="ex1">Street</label>
                                <input class="form-control" name="street" id="ex1" type="text"><BR>
                                <label for="ex1">City</label>
                                <input class="form-control" name="city" id="ex1" type="text"><BR>
                                <label for="ex1">State</label>
                                <label for="ex1">State</label>                                                             
                                  <select class="form-control" name="states" id="state">                            
                                    <% states.forEach(function(states) { %>              
                                      <option value=<%=states.state_code_id %>><%=states.state_name %></option>
                                    <% }); %>
                                  </select>
                                <label for="ex1">Zipcode</label>
                                <input class="form-control" name="zipcode" id="ex1" type="text"><BR>
                                  <button type="submit" style="background-color:#198754" class="btn btn-success">Submit</button>    
                                </form>
                              </div>
                              </div>                             
                          </div>                           
                          <button class="btn btn-link" id="myBtn5">Update Existing Supplier</button>
                         
                          <div id="myModal5" class="modal">
              
                              <!-- Modal content -->
                              <div class="modal-content">
                                <span class="close5">&times;</span>
                                <h2 class="text-center">Update Existing Supplier</h2>
                                <form action="/supply/update/info" method="post">
                                    <div class="jumbotron">
                                        <!--drop down for Job ID -->
                                        <label for="ex1">Select the Supplier ID You Wish To Update</label>
                                          <select class="form-control" name="supplier_list" id="mainid">
                                            <% supplier_list.forEach(function(supplier_list) { %>              
                                              <option value=<%= supplier_list.supplier_id%>><%= supplier_list.supplier_id%></option>
                                            <% }); %>
                                          </select>
                                        <br>
                                        <button type="submit" style="color:#198754" class="btn btn-success">Submit</button>
                                      </div> 
                                </form>
                              </div>
                            
                          </div>
          
                          <button class="btn btn-link" id="myBtn6">Delete Exisiting Supplier</button>
              
                          <div id="myModal6" class="modal">
              
                              <!-- Modal content -->
                              <div class="modal-content">
                                <span class="close6">&times;</span>
                                <h2 class="text-center">Delete Existing Supplier</h2>
                                <form action="/supply/delete" method="post">
                                    <div class="jumbotron">
                                        <!--drop down for Job ID -->
                                        <label for="ex1">Select the Supplier ID You Wish To Delete</label>
                                          <select class="form-control" name="supplier_list" id="mainid">
                                            <% supplier_list.forEach(function(supplier_list) { %>              
                                              <option value=<%= supplier_list.supplier_id%>><%= supplier_list.supplier_id%></option>
                                            <% }); %>
                                          </select>
                                        <br>
                                        <button type="submit" style="color:#198754" class="btn btn-success">Submit</button>
                                      </div> 
                                </form>
                              </div>
                            
                          </div>
                     
                  </div>
                  <div>
                    <table class="table">
                        <thead class="table-dark">
                            <tr>
                                <th>Supplier</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Address</th>     
                                                   
                            </tr>
                        </thead>
                      <tbody>
                        <% supplier_list.forEach(function(supplier_list) { %>
                          <tr>
                            <td> <%= supplier_list.supplier_name%></td>
                            <td> <%= supplier_list.phone%></td>
                            <td> <%= supplier_list.email%></td>
                            <td> <%= supplier_list.street%><br><%=supplier_list.city%>,&nbsp<%=supplier_list.state_name%>&nbsp<%=supplier_list.zipcode%></td>                           
                          </tr>
                        <% }); %>
                      </tbody>
                    </table>    
                  </div>
                      </div>
                    </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>
